@{
    ViewBag.Title = "About TwinTwist";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>TwinTwist is used to connect people to people's Interest. We help you follow your Passion NON-STOP.</p>
