@{
    ViewBag.Title = "Contact Support";
}
<h2>@ViewBag.Title:</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bannergatta Road<br />
    Bangalore<br />
    India<br />
    <abbr title="Phone">Ph:</abbr>
    +918072912487
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:arunkumar.kumar@honeywell.com">Support</a><br />
    <strong>Tech Support:</strong> <a href="mailto:sreekumar.sreelakshmi@honeywell.com">Tech Support</a>
</address>